<div class="page-header">
  <h1 align="center"><p> Новости </p></h1>
  <hr>
  <div class="card-deck">
    <div class="container" *ngFor="let post of posts">
      <div class="card" align="center">
        <img class="card-img-top" src="{{post.urlToImage}}" alt="Card image cap">
        <div class="card-body">
          <h1 class="card-title" align="center">{{post.title}}</h1>
          <p class="card-text"><font size="4">{{ post.description }}</font></p>
          <a href="{{post.url}}" class="btn btn-primary" target="_blank"><h4>Additionally</h4></a>
        </div>
        <div class="card-footer">
          <small class="text-muted" align="right"><font size="2"><p align="right">
            {{post.author}}<br>
            {{post.source.name}}<br>
            Date: {{post.publishedAt}}
          </p>
          </font>
          </small>
        </div>
      </div>
      <br>
    </div>
  </div>
</div>
