<menu_header class="menu"></menu_header>

<button (click)="toggle()">Тык</button>
<div *ngIf="condition; then shopBlock else newsBlock"></div>

<ng-template #shopBlock>
  <div class="page-header">
    <h1 align="center"><p> Список покупок </p></h1>
  </div>
  <div class="container">
    <div class="form-inline">
      <div class="form-group">
        <div class="col-md-8">
          <input class="form-control" [(ngModel)]="text" placeholder="Название"/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-6">
          <input type="number" class="form-control" [(ngModel)]="price" placeholder="Цена"/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-8">
          <button class="btn btn-default" (click)="addItem(text, price)">Добавить</button>
        </div>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Предмет</th>
        <th>Цена</th>
        <th>Куплено</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of items">
        <td>{{item.purchase}}</td>
        <td>{{item.price}}</td>
        <td><input type="checkbox" [(ngModel)]="item.done"/></td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<ng-template class="news" #newsBlock>
  <div class="page-header">
    <h1 align="center"><p> Новости </p></h1>
    <hr>
    <div class="card-deck">
      <div class="container" *ngFor="let post of posts">

        <div class="card">
          <img class="card-img-top" src="{{post.urlToImage}}" alt="Card image cap">
          <div class="card-body">
            <h1 class="card-title" align="center">{{post.title}}</h1>
            <p class="card-text"><font size="4">{{ post.description }}</font></p>
            <a href="{{post.url}}" class="btn btn-primary" target="_blank"><h4>Additionally</h4></a>
          </div>
          <div class="card-footer">
            <small class="text-muted" align="right"><font size="2"><p align="right">
              {{post.author}}<br>
              Date: {{post.publishedAt}}
            </p>
            </font>
            </small>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</ng-template>

<company_header></company_header>
